<footer id="contact">
  <!-- Footer Info -->
  <div class="footer-info">
    <div class="container">
      <div class="row">

        <!-- About -->
        <div class="col-md-4"> <img class="margin-bottom-30" src="images/logo.png" alt="" >
          <p>Datom Solutions is a data science consultancy. We create a competitive advantage for companies by combining domain knowledge with specialist technical skills to deliver high-impact statistical insights, predictive models and data-driven business advice.</p>
          <ul class="personal-info">
            <li><i class="fa fa-map-marker"></i><a target="_blank" href="https://www.google.com/maps/place/31416+Agoura+Rd,+Westlake+Village,+CA+91361/@34.1450874,-118.8077403,17z/data=!3m1!4b1!4m5!3m4!1s0x80e824643c3e5b13:0xbabbbe0f1af4ad32!8m2!3d34.145083!4d-118.8055516">31416 Agoura Road #105, Westlake Village, CA, 91361</a></li>
            <li><i class="fa fa-envelope"></i><a href="mailto:ali@datomsolutions.com">ali@datomsolutions.com</a></li>
            <li><i class="fa fa-phone"></i><a href="tel:+12152050971">(215) 205-0971</a></li>
          </ul>
        </div>

        <!-- Service provided -->
        <div class="col-md-4">
          <h6>Follow us</h6>
          <ul class="social_icons margin-bottom-50">
            <li><a target="_blank" href="https://www.facebook.com/Datom-Solutions-582393225300015/"><i class="fa fa-facebook"></i></a></li>
            <li><a target="_blank" href="https://twitter.com/DatomSolutions"><i class="fa fa-twitter"></i></a></li>
          </ul>


          <h6>Services provided</h6>
          <ul class="links">
            <li><a href="#">Training</a></li>
            <li><a href="#">Data Science</a></li>
            <li><a href="#">Big Data</a></li>
            <li><a href="#">Business Intelligence</a></li>
            <li><a href="#">Predictive Analysis</a></li>
            <li><a href="#">Quantitative Finance</a></li>
            <li><a href="#">Operations Science</a></li>
            <li><a href="#">Data Visualization</a></li>
            <li><a href="#">Decision Analysis</a></li>
            <li><a href="#">Risk Assessment</a></li>
            <li><a href="#">Enterprise Ontology</a></li>
            <li><a href="#">Assessment</a></li>
          </ul>
        </div>

        <!-- Quote -->
        <div class="col-md-4">
          <h6>Get A Free Quote</h6>
          <div class="quote">
            <form action="https://formspree.io/ali@datomsolutions.com" method="POST">
              <input class="form-control" type="text" name="name" placeholder="Full Name">
              <input class="form-control" type="text" name="_replyto" placeholder="Email Address">
              <textarea class="form-control" name="message" placeholder="Tell us a bit more about yourself and your project"></textarea>
              <button type="submit" class="btn btn-green">SEND NOW</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Rights -->
  <div class="rights">
    <div class="container" style="text-align: center">
      <p style="color: #c5cbd3">Copyright © 2017 Datom Solutions. All Rights Reserved.</p>
    </div>
  </div>
</footer>
