<div id="home" class="container">
  <div class="row">
    <div class="col-md-2 noo-res"></div>
    <div class="col-md-10">
      <div class="top-bar">
        <div class="col-md-3">
          <ul class="social_icons">
            <li><a target="_blank" href="https://www.facebook.com/Datom-Solutions-582393225300015/"><i class="fa fa-facebook"></i></a></li>
            <li><a target="_blank" href="https://twitter.com/DatomSolutions"><i class="fa fa-twitter"></i></a></li>
            <li><a target="_blank" href="https://www.linkedin.com/company/17924474"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>

        <!-- Social Icon -->
        <div class="col-md-9">
          <ul class="some-info font-montserrat">
            <li><i class="fa fa-phone"></i><a href="tel:+12152050971">(215) 205-0971</a></li>
            <li><i class="fa fa-envelope"></i><a href="mailto:ali@datomsolutions.com">ali@datomsolutions.com</a></li>
            <li><i class="fa fa-skype"></i><a href="skype:anariio?call">anariio</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<header class="header coporate-header">
  <div class="sticky">
    <div class="container">
      <div class="logo"> <a href="/"><img src="images/logo.png" alt=""></a> </div>

      <!-- Nav -->
      <nav>
        <ul id="ownmenu" class="ownmenu">
          <li><a href="/">HOME</a></li>
          <li><a href="/services"> SERVICES </a></li>
          <li><a href="/case-studies"> CASE STUDIES </a></li>
          <li><a href="/testimonials"> TESTIMONIALS </a></li>
          <li><a href="/contact"> CONTACT</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
